

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 0;
  height: 293;
  position: relative;
}

.header__logo {
  display:block;
}

.header__menu {
  display: flex;
  flex-direction: row;
  row-gap: 13px;
  
}

.header__links-list {
  display: flex;
  flex-direction: row;
  

}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  
  
}

.header__link {
  

}

.cover {
  width: 1100px;
  height: 757px;
  padding-top: 165px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.cover-span {
  display: block;
  padding-left: 50px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  text-align: end;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.lots {
  padding: 0 24px;
  width: 1052px;
  height: 723px;
}

.about {
  padding: 0 24px;
  width: 1052px;
  height: 595px;
}

.footer {
  width: 1100px;
  height: 180px;
  padding: 0;

}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.logo-yt {
  width: 26px;
  height: 20px;
}

.logo-vk {
  width: 29.12px;
  height: 18px;
}

.logo-pinterest {
  width: 17px;
  height: 22px;
}


