

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding: 0;
  height: 293;
}

.header__logo {
  display:block;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  height: 22px;
}

.header__links-list {
  display: inline;
}

.header__links-list-item {
  list-style: circle;
  display: inline;
}

.header__links-list-item_no-bullit {
  list-style: none;
  display: inline;
}

.header__link_active {
  
  
}

.header__link {
  

}

.address {
  text-align: right;
  padding-left: 184px;
  width: 424px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
}

.cover {
  width: 1100px;
  height: 757px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 165px;
}

.cover-span {
  display: block;
  padding-left: 50px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: end;
}

.cover__description-text {
  padding-top: 106px;
}
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.lots {
  
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, fr);
  justify-content: space-between;
  gap: 25px;
  width: 1052px ;
  height: 723px;
  padding: 74px 24px 53px 24px;
  list-style-image: none; 
}

.card__text {
  display: grid;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding-bottom: 48px;
}

.card__title {
font-weight: 700;
font-size: 22px;
line-height: 120%;
text-transform: uppercase;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #fff;
}

.lot-film {
  display: inline;
  background-image: url(/images/card-lot-01.jpg);
  width: 334px;
  min-height: 596px;
  padding-bottom: 48px;
  
}

.lot-book {
  background-image: url(/images/card-lot-02.jpg);
  display: inline;
  width: 334px;
  min-height: 596px;
  grid-column: 2;
  
}

.lot-picture {
  background-image: url(/images/card-lot-03.jpg);
  display: inline;
  width: 334px;
  min-height: 596px;
  grid-column: 3;
}
.lots {
  padding: 0 24px;
  width: 1052px;
  height: 723px;
}

.about {
  padding: 0 24px;
  width: 1052px;
  height: 595px;
}

.footer {
  width: 1100px;
  height: 180px;
  padding: 0;

}

.logo-yt {
  width: 26px;
  height: 20px;
}

.logo-vk {
  width: 29.12px;
  height: 18px;
}

.logo-pinterest {
  width: 17px;
  height: 22px;
}


